$background-color: #F5F5F5;
$white-color: #FFFFFF;

$accent-color: #39B8BA;
$accent-color--light: #3ac5c7;
$accent-color--dark: #39adaf;
$error-color: #FC6E6A;

$font-color: #333333;
$font-color--light: #6E6E6E;

$card-black-color: #242532;
$card-gray-color: #909090;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-xl: 1100px;

$transition-time: 0.5s;